body{
    font-family: Verdana, "fira sans";
    font-size: 12pt;
}
header{
    Font-size: 36pt;
    font-family: Montserrat;
}

.skip {
    background: navy    ;
    color: white;
    height: 30px;
    left: 50%;
    padding: 10px 5px 10px 5px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    text-decoration: none;
}

.skip:focus{
    transform: translateY(0%);
}

nav ul {
    display: flex;
    flex-direction: column;
    font-size:12pt;
    list-style-type: none;
    background-color: #8f140b;
}

nav li a {
   display: flex;
   color: white;
   padding: 14px 16px;
   text-decoration: none;
   transition: 0.5s ease-in-out
}

nav li a:hover {
  background-color: #e98074;
  font-size: 14pt;
  font-weight: bold;
  transform: 0.5s ease;
}

nav li a.active{
    color: #8f140b;
    background-color: white;
    font-weight: bold;
    font-size: 14pt;
}

h1{
  font-family: "Libre Baskerville";
  text-align: center;
  margin: 15px 10px 15px 10px;
}

h2{
    font-size: 14pt;
    font-family: Verdana, "fira sans";
    text-align: center;
    margin: 10px 0px 10px 0px;
}

main h1{
    font-size: 28pt;
}

main h2{
    text-align: left;
    font-weight: bold;
}

main{
    margin: 0px;
    background-image: url(../images/pattern-07.jpg);
    background-attachment: fixed;
    border-top: 10px solid #8f140b;
    border-bottom: 10px solid #8f140b;
}

.about-container{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr;
    margin: 0 5vw;
    margin-bottom: 20px;
}
    
.about-container div{
    background: white;
    border-radius: 20px;
    padding: 0px 10px 20px 10px;
    margin-top: 20px;
}
    
.about-container p{
    margin-bottom: 20px;
}
    
.about-container h2{
    text-align: center;
}
    
.about-container a{
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #8f140b;
    padding: 10px 15px 10px 15px;
}

.index-container{
    border: none;
}

.site-desc{
    background-color:white;
    padding: 10px 15px 10px 15px;
    border-top: 10px solid #8f140b;
    border-bottom: 10px solid #8f140b;
}

.site-desc p{
    padding-top: 10px;
    padding-bottom: 10px;
}

dt{
    font-size: 20pt;
    font-family: "Libre Baskerville";
    text-align: center;
    padding: 15px 10px 10px 10px;
    background-color: #8f140b;
    color: white;
    border-radius: 30px;
    margin: 0px 10px 10px 10px;
}

dd{
    font-size: 14;
    font-weight: bold;
    margin-top: 20px;
}

.fd-grid{
    display: grid;
    width: 95%;
    margin: 0 2.5vw;
}

.fd-grid div{
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px 0px 20px 0px;
    transition: 0.5s ease-in-out
}
.fd-grid div:hover{
    box-shadow: 0px 10px 20px 15px darkred;
    margin: 25px 0px 45px 0px;
}

.fd-grid div p{
    margin-top: 7.5px;
}

/* ----------------------------------------- */
.filterDiv {
    /* float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px; */
    text-align: center;
    display: none;
  }
  
  .show {
    display: block;
    text-align: left;
  }
  
  .fd-grid {
    margin-top: 20px;
    /* overflow: hidden; */
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
/* ----------------------------------------- */

img#womens_march{
    width: 100%;
}

img{
    width: 100%;
    border-style: double;
    border-width: 9px;
    border-color: #8f140b;
    padding: 3px;
}

.div-histlit{
    width: 90%;
    margin: auto;
}

.div-histlit div{
    display: grid;
    background-color: white;
    border-radius: 20px;
    margin: 15px 0px 15px 0px;
}

.div-histlit h2{
    margin-left: 20px;
}
.div-histlit p,.div-histlit ul{
    margin: 5px 30px 15px 30px;
}

.fa-solid{
    padding-right: 10px;
    color:#8f140b;
}

img:hover{
    border-style: solid;
    border-width: 18px;
    transition: 1s ease;
}
@keyframes image_change{
    from{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%)
        opacity(0)
    }
    to{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%)
        opacity(1)
    }
}

img#womens_march{
    width: 100%;
    border: none;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    animation-name: image_change;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@media screen and (prefers-reduced-motion: reduce){
    #womens_march{
        animation: none;
    }
}
img:nth-child(2n){
    border-style: groove;
}

img:nth-child(2n):hover{
    border-style: groove;
    border-width: 18px;
    transition: 0.5s ease;
}

div:nth-child(2n) img{
    border: 9px double #8f140b;
}

div:nth-child(2n) img:hover{
    border: 18px solid #8f140b;
}

footer{
    background-color:#eca19c;
    padding: 10px 0px 20px 0px;
    color: white;
    text-align: center;
    background-color: #8f140b;
}

footer p{
    margin: 10px 0px 20px 0px;
}

footer a{
    background: white;
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

footer section{
    margin: 20px 0 30px 0;
}

@media screen and (min-width: 800px){
    nav ul {
    flex-direction: row;
    }

    .skip{
        left: 75%;
    }

    .fd-grid > dl{
        display: grid;
        grid-template-columns: 47% 47%;
        column-gap: 6%;
    }

    .about-container{
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 20px;
    }

    /* masonry using column-count content gets cut at transition point instead of jumping next */
    .div-histlit{
        column-count: 2;
        column-gap: 2em;
    }

    .div-histlit div{
        display: inline-block;
        width: 100%;
        vertical-align: baseline;
    }
}